.admin__not-logged {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 70vh;
  gap: 2rem;
}

.admin__not-logged p {
  font-size: 1.5rem;
  font-weight: bolder;
  max-width: 50vw;
  text-align: center;
}
