main {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.cart-heading {
  text-align: center;
}

.user-items-list {
  display: grid;
  width: 80vw;
  grid-template-columns: 1fr 1fr;
}