.main-cart {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.cart-heading {
  text-align: center;
}

.cart-img {
  width: 60%;
}

.user-items-list {
  display: grid;
  word-break: break-all;
  width: 80vw;
  grid-template-columns: 1fr 1fr;
}
