.edit-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}

.edit-item-form {
  display: flex;
  text-align: center;
  justify-content: center;
  flex-direction: column;
  gap: 0.5rem;
}

.edit-item-form > input,
.edit-item-form > textarea {
  padding: 0.3rem;
  border-radius: 0.5rem;
  font-size: 1rem;
  border: 1px solid var(--BORDER);
  width: 100%;
  outline: none;
}

.edit-item-form > textarea {
  height: 10rem;
}

@media screen and (max-width: 768px) {
  .edit-item-form > textarea {
    width: 80vw;
  }
}
