.items-list {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 2rem;
  width: 90vw;
  text-align: center;
}

.items-list__add-item-button {
  padding: .2rem;
  position: fixed;
  right: 1rem;
}

.items-list__loading {
  padding: 2rem;
  width: 90vw;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.5rem;
  font-weight: bolder;
}

.items-list__error {
  padding: 2rem;
  width: 90vw;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.5rem;
  font-weight: bolder;
}

@media screen and (max-width: 700px) {
  .items-list {
    grid-template-columns: 1fr;
  }
}