.login {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 2rem auto;
  gap: 1rem;
}

.login__form {
  padding: 1.5rem 4rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.5rem;
  border: 1px solid rgb(151, 151, 151);
  border-radius: 1rem;
}

.login__login-button {
  padding: 0.2rem;
}

.login__register-button {
  padding: 0.2rem;
}
