.manage-items__items-list {
  display: grid;
  grid-template-columns: repeat(3, 1fr);  
  gap: 4rem;
  justify-content: center;
}

.manage-items__main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 4rem;
}

.manage-items__item-div {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.manage-items__head {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1rem;

}

.manage-items__add-item-button {
  padding: .5rem;
  cursor: pointer;
  border-radius: .5rem;
  background-color: #038ae3;
  color: white;
  font-weight: bolder;
}


.manage-items__remove-item-button {
  padding: .5rem;
  cursor: pointer;
  background-color: red;
  color: white;
  font-weight: bolder;
  border-radius: .5rem;
  margin-bottom: 1rem;
}

.manage-items__edit-item-button {
  padding: .5rem;
  cursor: pointer;
  border-radius: .5rem;
  margin: .5rem;
  background-color: #038ae3;
  color: white;
  font-weight: bolder;
}

@media screen and (max-width: 1000px) {
  .manage-items__items-list {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media screen and (max-width: 768px) {
  .manage-items__items-list {
    grid-template-columns: 1fr;
  }
}