.nav {
  display: flex;
  gap: 1rem;
}

.nav a {
  font-size: 0.8rem;
  text-decoration: none;
  color: inherit;
  border-radius: 0.5rem;
  box-shadow: 0 0 1px black;
  padding: 0.5rem;
  text-align: center;
}

.nav__logout-button {
  background: inherit;
	border: none;
	font: inherit;
	cursor: pointer;
  font-size: 0.8rem;
  color: inherit;
  border-radius: 0.5rem;
  box-shadow: 0 0 1px black;
  padding: 0.5rem;
}

.nav__logout-button:hover {
  background-color: ghostwhite;
}

.nav a:hover {
  background-color: ghostwhite;
}
